

3-Bases_de_node/salida/*.txt
3-Bases_de_node/node_modules
4-Aplicacion-Consola/node_modules
5-Aplicacion-clima/node_modules
5-Aplicacion-clima/.env
6-Express/node_modules
6-Express_tarea/node_modules
7-Rest/node_modules